<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>TODO APP</title>
</head>

<body>
    <h1>Todo List</h1>
        <form method="post" th:action="@{/todo/create}">
            <input type="text" name="title" />
            <input type="submit" value="Create TODO" />
        </form>
        <hr />

        <ul th:each="todoItem : ${todoItemForm.todoItems}">
            <li>
                <del th:if="${todoItem.done}" th:text="${todoItem.title}"></del>
                <span th:unless="${todoItem.done}" th:text="${todoItem.title}"></span>
                <form method="post" th:action="@{/todo/finish}" th:object="${todoItem}"
                    style="display:inline;">
                    <input type="hidden" name="id" th:value="*{id}" />
                    <input type="submit" value="Finish" />
                </form>
                <form method="post" th:action="@{/todo/delete}" th:object="${todoItem}"
                    style="display:inline;">
                    <input type="hidden" name="id" th:value="*{id}" />
                    <input type="submit" value="Delete" />
                </form>
            </li>
        </ul>
</body>
</html>